@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap');

:root {
    --primary: #5aa7ff;
}
* {
    box-sizing: border-box;
}
html {
    front-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    front-size: 1.6rem;
    line-height: 1.34;
    text-rendering: optimizeSpeed;
    direction: ltr;
}
